@model Orders

@{
	Layout = null;
}

<h1>Buy Orders</h1>
<table>
	<tr>
		<td>Id</td>
		<td>Stock Symbol</td>
		<td>Stock Name</td>
		<td>Date Time</td>
		<td>Quantity</td>
		<td>Price</td>
		<td>Trade Amount</td>
	</tr>
</table>